.trontium-form {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--trontium-color-text);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
}
.trontium-form-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 24px;
}
.trontium-form-item-label {
  flex-grow: 0;
  width: 100px;
  /* simple fixed width for basic integration */
  margin-right: 12px;
  text-align: right;
  line-height: 32px;
  /* align with input height */
  color: var(--trontium-color-text);
}
.trontium-form-item-control {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  /* Ensure inputs allow width 100% */
}
.trontium-form-item-control .trontium-input-wrapper,
.trontium-form-item-control .trontium-input {
  width: 100%;
}
