.trontium-input {
  box-sizing: border-box;
  margin: 0;
  padding: 4px 11px;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: 'tnum';
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  color: var(--trontium-color-text);
  font-size: 14px;
  line-height: 1.5715;
  background-color: var(--trontium-color-bg-container);
  background-image: none;
  border: 1px solid var(--trontium-color-border);
  border-radius: 2px;
  transition: all 0.3s;
}
.trontium-input::-moz-placeholder {
  opacity: 1;
}
.trontium-input::placeholder {
  color: var(--trontium-color-text-disabled);
}
.trontium-input:hover {
  border-color: var(--trontium-color-primary-hover);
  border-right-width: 1px !important;
}
.trontium-input:focus,
.trontium-input-focused {
  border-color: var(--trontium-color-primary-hover);
  box-shadow: 0 0 0 2px var(--trontium-color-primary-shadow);
  border-right-width: 1px !important;
  outline: 0;
}
.trontium-input-disabled {
  color: var(--trontium-color-text-disabled);
  background-color: var(--trontium-color-bg-disabled);
  border-color: var(--trontium-color-border);
  box-shadow: none;
  cursor: not-allowed;
  opacity: 1;
}
.trontium-input-disabled:hover {
  border-color: #d9d9d9;
}
.trontium-input-lg {
  padding: 6.5px 11px;
  font-size: 16px;
}
.trontium-input-sm {
  padding: 0px 7px;
}
.trontium-input-wrapper {
  display: inline-flex;
  width: 100%;
  align-items: center;
  border: 1px solid var(--trontium-color-border);
  border-radius: 2px;
  padding: 4px 11px;
  background-color: var(--trontium-color-bg-container);
  transition: all 0.3s;
}
.trontium-input-wrapper .trontium-input {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  background: transparent;
}
.trontium-input-wrapper:hover {
  border-color: var(--trontium-color-primary-hover);
}
.trontium-input-wrapper-focused {
  border-color: var(--trontium-color-primary-hover);
  box-shadow: 0 0 0 2px var(--trontium-color-primary-shadow);
}
.trontium-input-wrapper-disabled {
  background-color: var(--trontium-color-bg-disabled);
  color: var(--trontium-color-text-disabled);
  cursor: not-allowed;
  border-color: var(--trontium-color-border);
}
.trontium-input-wrapper-disabled .trontium-input {
  cursor: not-allowed;
}
.trontium-input-wrapper-lg {
  padding: 6.5px 11px;
  font-size: 16px;
}
.trontium-input-wrapper-sm {
  padding: 0px 7px;
}
.trontium-input-prefix {
  margin-right: 4px;
  display: flex;
  align-items: center;
}
.trontium-input-suffix {
  margin-left: 4px;
  display: flex;
  align-items: center;
}
