.trontium-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow: auto;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.trontium-modal-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  background-color: var(--trontium-color-mask);
  pointer-events: auto;
}
.trontium-modal-wrap {
  position: relative;
  z-index: 1001;
  width: 520px;
  margin: 0 auto;
  background-color: var(--trontium-color-bg-container);
  border-radius: 2px;
  box-shadow: var(--trontium-shadow-base);
  pointer-events: auto;
}
.trontium-modal-header {
  padding: 16px 24px;
  color: var(--trontium-color-text);
  background: var(--trontium-color-bg-container);
  border-bottom: 1px solid var(--trontium-color-border);
  border-radius: 2px 2px 0 0;
}
.trontium-modal-title {
  margin: 0;
  color: var(--trontium-color-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  word-wrap: break-word;
}
.trontium-modal-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  padding: 0;
  color: var(--trontium-color-text-secondary);
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: color 0.3s;
  width: 57px;
  height: 57px;
}
.trontium-modal-close:hover {
  color: var(--trontium-color-text);
  text-decoration: none;
}
.trontium-modal-close-x {
  display: block;
  font-size: 16px;
  font-style: normal;
  line-height: 57px;
  text-align: center;
  text-transform: none;
  text-rendering: auto;
}
.trontium-modal-body {
  padding: 24px;
  font-size: 14px;
  line-height: 1.5715;
  word-wrap: break-word;
}
.trontium-modal-footer {
  padding: 10px 16px;
  text-align: right;
  background: transparent;
  border-top: 1px solid var(--trontium-color-border);
  border-radius: 0 0 2px 2px;
}
.trontium-modal-footer button + button {
  margin-left: 8px;
}
