.trontium-tabs {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.trontium-tabs-nav {
  display: flex;
  border-bottom: 1px solid var(--trontium-color-border);
  margin-bottom: 16px;
  list-style: none;
  padding: 0;
  margin: 0 0 16px 0;
}
.trontium-tabs-tab {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 12px 16px;
  font-size: 14px;
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
  margin-right: 2px;
  color: var(--trontium-color-text);
}
.trontium-tabs-tab:hover {
  color: var(--trontium-color-primary-hover);
}
.trontium-tabs-tab-active {
  color: var(--trontium-color-primary);
  font-weight: 500;
}
.trontium-tabs-tab-active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background-color: var(--trontium-color-primary);
  transform: scaleX(1);
  transition: transform 0.3s;
}
.trontium-tabs-tab-disabled {
  color: var(--trontium-color-text-disabled);
  cursor: not-allowed;
}
.trontium-tabs-tab-disabled:hover {
  color: var(--trontium-color-text-disabled);
}
.trontium-tabs-content {
  flex: 1;
}
.trontium-tabs-tabpane {
  outline: none;
}
