name: CI

on:
  push:
    branches:
      - master
      - main
  pull_request:
    branches:
      - master
      - main

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 9
      - uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'pnpm'
      
      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Type Check & Build UI
        run: pnpm build:ui

      - name: Lint Code
        run: pnpm lint:ui

      - name: Run Units Test with Coverage
        run: pnpm --filter @trontium/ui test -- --coverage

      - name: Build Documentation Site
        run: pnpm build:site
