.trontium-virtual-list {
  border: 1px solid var(--trontium-color-border);
  border-radius: 4px;
  background-color: var(--trontium-color-bg-container);
}
.trontium-virtual-list::-webkit-scrollbar {
  width: 6px;
}
.trontium-virtual-list::-webkit-scrollbar-track {
  background: var(--trontium-color-scrollbar-track);
}
.trontium-virtual-list::-webkit-scrollbar-thumb {
  background: var(--trontium-color-scrollbar-thumb);
  border-radius: 3px;
}
.trontium-virtual-list::-webkit-scrollbar-thumb:hover {
  background: var(--trontium-color-scrollbar-thumb-hover);
}
